<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
        <add key="sswdevops" value="https://pkgs.dev.azure.com/sswdevops/_packaging/sswdevops/nuget/v3/index.json" />
        <add key="devexpress" value="https://nuget.devexpress.com/TvboZWsNhFqAZpRTEKrLxVv6qtozC6TvXuoqO6BOXNrnPRtSqe/api"/>
    </packageSources>
    <packageSourceCredentials>
        <sswdevops>
            <add key="Username" value="dummy" />
            <add key="ClearTextPassword" value="3ftczdsip5scp3nhv25k2oe32sqjdx6z5wo6lp6febls63ljrpva" />
        </sswdevops>
    </packageSourceCredentials>
</configuration>
